/MyCrossfitApp/obj/Debug/net5.0/MyCrossfitApp.RazorAssemblyInfo.cache
/MyCrossfitApp/obj/Debug/net5.0/*.cache
/MyCrossfitApp/obj/Debug/net5.0/staticwebassets/*.cache
/MyCrossfitApp/obj/*.cache
/MyCrossfitApp/obj/Debug/net5.0/*.CopyComplete
/MyCrossfitApp/bin/Debug/net5.0/*.dll
/MyCrossfitApp/bin/Debug/net5.0/ref/*.dll
/MyCrossfitApp/obj/Debug/net5.0/*.dll
/MyCrossfitApp/obj/Debug/net5.0/ref/*.dll
